@{
    ViewData["Title"] = "Reçete";
}

<div class="container mt-5">
    <div class="form-container">
        <div class="form-header">
            <h4>Reçete</h4>
        </div>
        <form method="post" asp-action="Kaydet">
            <div class="form-group">
                <label for="tarih">Tarih</label>
                <input type="date" id="tarih" class="custom-input" placeholder="Tarih Seçin">
            </div>
            <div class="form-group">
                <label for="receteTurBtnGroup">Reçete Türü</label>
                <div class="btn-group" id="receteTurBtnGroup">
                    <button type="button" class="recete-btn" data-type="normal">Normal</button>
                    <button type="button" class="link-btn" onclick="openLink()">Renkli Reçete</button>
                    <button type="button" class="recete-btn" data-type="kirmizi">Kırmızı</button>
                    <button type="button" class="recete-btn" data-type="yesil">Yeşil</button>
                    <button type="button" class="recete-btn" data-type="mor">Mor</button>
                    <button type="button" class="recete-btn" data-type="turuncu">Turuncu</button>
                </div>
            </div>
            <div class="form-group custom-dropdown">
                <div>
                    <label for="recete">Reçete Ait Türü</label>
                    <select class="form-control custom-input" id="recete" name="ReceteAitTuru">
                        <option value="0">Ayaktan Reçetesi</option>
                        <option value="1">Yatan Reçetesi</option>
                        <option value="2">Taburcu Reçetesi</option>
                    </select>
                </div>
            </div>
            <div class = "form-group">
                <div>
                    <button type = "button" class ="link-btn" onclick = "openTani()">Tanı Ekle</button>
                </div>
            </div>
            <div class = "form-group">
                <div>
                    <label for="tani-screen">Tanı Seç</label>
                        <div id="selectedList">
                        </div>
                </div>

            </div>
            <div class="form-group">
                <label for="ilac-aciklama">Reçete Notu</label>
                <textarea class="form-control custom-input scrollable-box" id="ilac-aciklama" name="IlacAciklama" rows="5" maxlength="3000"></textarea>
                <div class="char-counter" id="char-count">0 / 3000</div>
            </div>
            <div class="form-group button-group">
                <button type="button" class="btn btn-secondary">Vazgeç</button>
                <button type="submit" class="btn btn-primary">Kaydet</button>
                <button type="submit" class="btn btn-success">Kaydet ve Yazdır</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/recete.js"></script>
}