@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="text-center">
    <h1 class="display-4">Hoş geldiniz</h1>
    <p>Giriş Ekranına Gitmek İçin <a href="/Kullanici/Login"> Buraya Tıklayabilirsiniz.</a>.</p>
</div>
