@{
    ViewData["Title"] = "Tanı Girişi";
}

@model IEnumerable<HastaneNamespace.Models.Tani>

<div class="button-group">
    <button id="allBtn" onclick="showAll()">Tümü</button>
    <button id="favoritesBtn" onclick="showFavorites()">Sık Kullanılanlar</button>
</div>

<form method="get" action="/Tani/Index" class="search-form" id="search-form">
    <input type="text" name="search" placeholder="Tanı kodu veya adıyla ara" id = "search-bar">
    <input type="hidden" name="isFavorites" id="isFavorites" value="false"> <!-- Gizli input -->
    <button type="submit">Ara</button>
</form>

<!-- Tanılar kısmını kutu içine al ve başlık ekle -->
<h4>Tanılar</h4>
<div class="tanilar-container" id ="tanilar-table" style="overflow-y: scroll;">
    <div id="tanilar">
        @foreach (var tani in Model)
        {
            <div>
                <input type="checkbox" id="tani_@tani.ID" value="@tani.ID" />
                <span>@tani.Tani_kodu - @tani.Tani_adi</span>
            </div>
        }
    </div>
</div>

<!-- Başvuruya Ait Tanılar kısmı -->
<div id="selectedTanilar">
    <h3>Başvuruya Ait Tanılar</h3>
    <button type="button" onclick="addSelectedTanilar()">Seçilenleri Ekle</button>
    <div id="selectedList">
        <!-- Seçilen tanılar buraya eklenecek -->
    </div>
</div>



