html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body {
  font-family: Arial, sans-serif;
}

.button-group {
  margin-bottom: 20px;
}

.search-form {
  text-align: center;
  margin-bottom: 20px;
}

.search-form input[type="text"] {
  padding: 8px;
  width: 300px;
}

.search-form button {
  padding: 8px 16px;
}

.tanilar-container {
  height: 300px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
}

#selectedTanilar {
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 20px;
}

#selectedList {
  margin-top: 10px;
}

#selectedList div {
  margin-bottom: 5px;
}

.removeTani {
  cursor: pointer;
  color: red;
  font-weight: bold;
}

.scrollable {
  overflow-y: auto; /* Normalde scroll edilebilir yap */
  max-height: 300px; /* İhtiyacınıza göre yükseklik belirleyin */
}

.no-scroll {
  overflow-y: hidden; /* Scroll'u engelle */
}

#infinite-table {
  height: 400px;
  overflow: auto;
}

table {
  border-spacing: 0;
  width: 100%;
  height: 410px;
  border: 1px solid #ddd;
  table-layout: fixed;
}

th, td {
  text-align: left;
  padding: 1px;
}

thead tr th {
  background: white;
  position: sticky;
  top: 0;
  z-index: 99;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.action-btn {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: skyblue; /* Butonun rengi */
  border: none;
  border-radius: 50%; /* Yuvarlak şekil */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.action-btn span {
  background-color: #fff; /* Çizgilerin rengi */
  width: 18px;
  height: 2px;
  margin: 2px 0;
  display: block;
}

.action-panel {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 10px;
  border-radius: 5px;
}

.action-panel button {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}