html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin-bottom: 60px;
  font-family: Arial, sans-serif;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.button-group {
  margin-bottom: 20px;
}

.search-form {
  text-align: center;
  margin-bottom: 20px;
}

.search-form input[type="text"] {
  padding: 8px;
  width: 300px;
}

.search-form button {
  padding: 8px 16px;
}

.tanilar-container {
  height: 300px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
}

#selectedTanilar {
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 20px;
}

#selectedList {
  margin-top: 10px;
}

#selectedList div {
  margin-bottom: 5px;
}

.removeTani {
  cursor: pointer;
  color: red;
  font-weight: bold;
}

.scrollable {
  overflow-y: auto; 
  max-height: 300px; 
}

.no-scroll {
  overflow-y: hidden; 
}

#infinite-table {
  height: 400px;
  overflow: auto;
}

table {
  border-spacing: 0;
  width: 100%;
  height: 410px;
  border: 1px solid #ddd;
  table-layout: fixed;
}

th, td {
  text-align: left;
  padding: 1px;
}

thead tr th {
  background: white;
  position: sticky;
  top: 0;
  z-index: 99;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.action-btn {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: skyblue; 
  border: none;
  border-radius: 50%; 
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.action-btn span {
  background-color: #fff; 
  width: 18px;
  height: 2px;
  margin: 2px 0;
  display: block;
}

.action-panel {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 10px;
  border-radius: 5px;
}

.action-panel button {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

.container {
  margin-top: 20px;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-header h4 {
  margin-bottom: 20px;
  color: #333;
}

.custom-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.scrollable-box {
  max-height: 200px;
  overflow-y: auto;
}

.char-counter {
  text-align: right;
  color: #888;
  font-size: 12px;
}

.button-group {
  margin-top: 20px;
  text-align: right;
}

#button-group-tani {
  text-align: left;
}

.button-group .btn {
  margin-left: 10px;
}

.button-group button {
  margin-right: 10px;
}

.custom-dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; 
}

.custom-dropdown select {
  flex-grow: 1; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: nowrap; 
}

.btn-group {
  display: flex;
  gap: 10px;
}

.recete-btn, .link-btn {
  padding: 10px 15px;
  border: none;
  background-color: #ddd;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.recete-btn.active {
  background-color: #258cfb;
  color: white;
}

.recete-btn:not(.active):hover, .link-btn:hover {
  background-color: #bbb;
}

.ilac-list {
  margin-top: 10px;
}

.ilac-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

.ilac-item:last-child {
  border-bottom: none;
}

.kutu-input, .doz-input, .periyot-input {
    width: 100%;
    max-width: 40px;
    text-align: center;
}

.verilis-yolu-select {
    max-width: 100px;
    display: inline-block;
}

.periyot-birim-select {
    max-width: 80px;
    display: inline-block;
}

#onaylayan-doktor {
    max-width: 300px;
}

#onaylayan-doktor, #servis {
    max-width: 100%;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.form-row > .form-group {
    padding-right: 5px;
    padding-left: 5px;
}

.form-check {
  margin-top: 10px;
}